.team {
	background-color: var(--second-background-color);
}

.container-profile {
	padding-top: 30px;
	padding-bottom: 30px;

	text-align: center;
}

.team-list {
	display: flex;
	justify-content: space-between;
}

.team-list-item {
	width: 270px;
	height: 428px;

	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team-list-name {
	margin-top: 0px;
	margin-bottom: 10px;

	font-weight: var(--secondary-font-weight);
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
}

.team-list-prof {
	margin-top: 0px;
	margin-bottom: 16px;
	color: var(--sub-text-color);

	font-weight: var(--main-font-weight);
	font-size: 16px;
	line-height: 1.187;
	letter-spacing: 0.03em;
}

.team-list .social-links-link {
	background-color: var(--primary-white-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list .social-links-icon {
	fill: var(--main-icon-color);
}

.team-list .social-links-link:hover .social-links-icon,
.team-list .social-links-link:focus .social-links-icon {
	fill: var(--primary-white-color);
}

.team-list .social-links-link:hover,
.team-list .social-links-link:focus {
	background-color: var(--accent-color);
}
