.logo {
	font-family: var(--sub-font);
	font-weight: var(--bold-font-weight);
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
}

.logo-web {
	color: var(--accent-color);
}

.logo-studio-black {
	color: var(--text-logo-color);
}

.logo-studio-white {
	color: var(--primary-white-color);
}
