.social-links-list {
	display: flex;
	justify-content: center;
}

.social-links-item:not(:last-child) {
	margin-right: 10px;
}

.social-links-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;

	border-radius: 50%;
}
